.container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 5rem);
}

.circle,
.square,
.line,
.current {
  height: 0.8rem;
  width: 0.8rem;
  border: 1px solid black;
  margin: 0.2rem;
}

.circle {
  border-radius: 50%;
}

.line {
  height: 0.2rem;
  width: 1.4rem;
}

.current {
  background-color: red;
  height: 1rem;
  width: 1rem;
}

.line.current {
  width: 1.5rem;
  height: 0.3rem;
}
